

/* Start:/bitrix/templates/test/components/bitrix/system.auth.form/auth/style.css?1701782847343*/
#login-form-window {
    display: none;
    border: 1px solid #000;
    background: #F5F5ED;
    padding: 10px;
    z-index: 10000;
    position: absolute;
    top: 10%;
    left: 45%;
    width: 200px;
    color: #454545;
}

#login-info {
    color: #3B3B3B;
    font-size: 70%;
    font-weight: bold;
}

#login-info a {
    color: #666666;
}
/* End */


/* Start:/bitrix/templates/test/template_styles.css?1701779941218*/
.br {
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  text-decoration: none;
}
body {
  font-family: arial;
  text-decoration: none;
}

/* End */
/* /bitrix/templates/test/components/bitrix/system.auth.form/auth/style.css?1701782847343 */
/* /bitrix/templates/test/template_styles.css?1701779941218 */
